 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: darkGrey;
      }
.container{
height: 100%;
}

#map{
	height: 100%;
	margin-top: 0px;
}

#mapRow{
	height: 100%;
	margin-top: 0px;
}

#searchID{
	margin-bottom: 40px;
}

#listCol{
	margin-top: 0px;
}

@media (max-height: 400px){
	#searchRow, h1{
		display: none !important;
	}
	li{
		display: inline-table;
		border: 0px;
	}
}

li{
	list-style: none;
	margin-bottom: .25em;
	border: .1em solid black;
}

h1{
	text-align: center;
}