 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: darkGrey;
      }
.container{
height: 100%;
}

#map{
	height: 100%;
	margin-top: 0px;
}

#mapRow{
	height: 100%;
	margin-top: 0px;
}

#searchID{
	margin-bottom: 40px;
}

#listCol{
	margin-top: 0px;
}

li{
	list-style: none;
	margin-bottom: 10px;
	border: 2px solid black;
}

h1{
	text-align: center;
}