 html,
 body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.container {
  height: 100%;
}

.map {
  height: 100%;
  margin-top: 0;
}

.mapRow {
  margin-top: 0;
}

.searchID {
  margin-bottom: 40px;
}

.listCol {
  margin-top: 0;
}

@media (max-height: 400px) {
  .searchRow, h1 {
    display: none !important;
  }

  li {
    display: inline-table;
    border: 0;
  };
}

li {
  list-style: none;
  margin-bottom: .25em;
  border: .1em solid #000000;
}

h1 {
  text-align: center;
}





